{% extends 'base.html' %}
{% block title %}
    Customer Page
{% endblock %}

{% block content %}
   <h1>
       Customer
   </h1>
    <br>

    <h2>
        <b>User Details</b>
    </h2>
    <br>
    <h4>
        Name: {{ current_user.real_name }}<br><br>
        Address: {{ current_user.address }}<br><br>
        Phone Number: {{ current_user.phone_num }}<br><br>
        Email ID: {{ current_user.email_address }}<br><br>
    </h4>
    <br><br>
    <h2>
        <b>Activities:</b>
    </h2>
    <br>
    <button class="btn btn-outline-success">
        <a href="{{ url_for('order_page') }}">Order Item</a>
    </button><br><br>
    <button class="btn btn-outline-success">
        <a href="{{ url_for('order_status') }}">Order Status</a>
    </button><br><br>
    <button class="btn btn-outline-success"><a href="{{ url_for('history_page') }}">History</a></button><br><br>
{% endblock %}